In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('insurance.csv')

In [4]:
data['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [27]:
data1=pd.concat([data,pd.get_dummies(data['region']),pd.get_dummies(data['sex'])],axis=1)

In [28]:
data1['smoker']=data1['smoker'].apply(lambda x: int(x=='yes'))

In [36]:
data1=data1.drop(['region','sex'],axis=1)

In [46]:
cols = data1.columns.to_list()

In [47]:
cols[4:]=cols[:3:-1]

In [49]:
data1=data1[cols]

In [50]:
data1

,age,bmi,children,smoker,male,female,southwest,southeast,northwest,northeast,charges
0,19,27.900,0,1,0,1,1,0,0,0,16884.92400
1,18,33.770,1,0,1,0,0,1,0,0,1725.55230
2,28,33.000,3,0,1,0,0,1,0,0,4449.46200
3,33,22.705,0,0,1,0,0,0,1,0,21984.47061
4,32,28.880,0,0,1,0,0,0,1,0,3866.85520
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,0,1,0,0,0,1,0,10600.54830
1334,18,31.920,0,0,0,1,0,0,0,1,2205.98080
1335,18,36.850,0,0,0,1,0,1,0,0,1629.83350
1336,21,25.800,0,0,0,1,1,0,0,0,2007.94500
1337,61,29.070,0,1,0,1,0,0,1,0,29141.36030